body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#gallery img {
    max-width: 150px;
    margin: 10px;
    border: 1px solid #b32424;
    border-radius: 4px;
    padding: 5px;
}
